<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en'>
	<!--<![endif]-->
	<head>
		<meta charset='utf-8' />
		<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
		<title></title>
		<meta content='' name='description' />
		<meta content='' name='author' />
		<meta content='width=device-width, initial-scale=1.0' name='viewport' />
		<link href="https://fonts.googleapis.com/css?family=Dosis:400,500" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>
	<body>
		<div id='container'>
			<header>
				<nav class="navbar">
					<div class="navbar-brand">
						<img src="img/logo.svg" alt="">
					</div>
						<div class="nav-message">
							Ajudamos você a conquistar o mundo em boas companhias
					 </div>
						  <ul class="nav navbar-nav">
							<li ><a href="index.html">Home</a></li>
							<li><a href="quem-somos.html">Quem somos</a></li>
							<li><a href="videos.html">Vídeos</a></li>
							<li><a href="#">Posts</a></li>
							<li><a href="#">Dados</a></li>
							<li><a href="#">Apoio</a></li>
							<li><a href="#" class="change-language"><img src="img/us.png" alt=""></a></li>
							<li>  <a href="#"><i class="fa fa-search" id="open-search" aria-hidden="true"> </i></a><li>
						</ul>
				</nav>
				<div class="toggler"><i class="fa fa-bars" aria-hidden="true"></i></div>
				<div class="stripes"></div>
			</header>
			<div id='main' role='main'>
				<div class="post-banner">
					<div class="container">
						<div class="post-banner__image" style="background-image:url('img/oque.jpg')">

						</div>
					</div>
				</div>
				<div class="container">

				<div class="post-content col-md-9">
					<h1>
						MELHORE COM ELAS
					</h1>
					<div class="post-content__avatar">
						<div class="avatar__pic"></div>
						<div class="avatar__name"></div>
						<div class="avatar__role"></div>
					</div>

					<div class="post-content__text">
						São Paulo – Até domingo, 28, estão abertas as inscrições do #aplaceforyou, uma iniciativa global de recrutamento com foco no público feminino, promovida pela consultoria McKinsey.

Por que a atenção é só para elas? “Muitas não enxergam a consultoria estratégica como primeira opção de carreira. Não temos 50% de mulheres nos processos seletivos”, explica Bruna Maia, que lidera no escritório de São Paulo as ações de recrutamento e retenção

Há vagas efetivas e de estágio e qualquer formação superior é aceita. A ideia é apostar na atração de pessoas com formações fora das mais frequentes entre os consultores que são engenharia, administração e economia. “Queremos atrair mulheres também com backgrounds diferentes”, diz.

A diversidade é um valor para a McKinsey já que pessoas de diferentes tipos trazem óticas também distintas, o que é extremamente bem-vindo em uma consultoria que presta serviços para empresas de todos os segmentos, segundo Bruna.  Acompanhe: As 15 melhores empresas em diversidade e inclusão

Há vagas para São Paulo, mas a iniciativa permite que as mulheres escolham até 4 cidades pelo mundo para trabalhar. A McKinsey tem mais de 140 escritórios espalhados pelo mundo e quase todos eles estão participando da iniciativa.

Na hora de fazer a candidatura, além dos locais em gostaria de trabalhar, as mulheres podem escolher se concorrem a vaga de estágio ou a posição de efetiva.

Cada escritório fará a triagem dos currículos para opções de posições de entrada que são possíveis na consultoria:

1. Estágio de verão: para estudantes universitários que têm disponibilidade de trabalhar apenas nas férias.

2. Estágio regular para estudantes universitários que têm previsão de formatura dentro de um ano e meio.

3. Fellow Business Analyst: posição para recém-formado de analista junior que exige inglês no mínimo intermediário.

4. Business Analyst: posição para quem tem até três anos de formado até 2014 e que já exige inglês fluente.

5. Fellow: posição para profissionais com mais de três anos de formado, também com exigência de inglês fluente.
					</div>

				</div>

				</div>


			<footer>
				<div class="container">
					<div class="share-bar row">
						<div class="share-bar__button col-md-1 col-xs-1"></div>
						<div class="share-bar__button col-md-2 col-xs-2 facebook">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</div>
						<div class="share-bar__button col-md-2 col-xs-2 twitter">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</div>
						<div class="share-bar__button col-md-2 col-xs-2 instagram">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</div>
						<div class="share-bar__button col-md-2 col-xs-2 youtube">
							<i class="fa fa-youtube" aria-hidden="true"></i>
						</div>
						<div class="share-bar__button col-md-2 col-xs-2 pinterest">
							<i class="fa fa-pinterest" aria-hidden="true"></i>
						</div>
							<div class="share-bar__button col-xs-1 col-md-1">
							</div>
					</div>
					<h4 class="footer__title">POWERED BY WOMEN</h4>
					<p>ajudamos você a conquistar o mundo em boas companhias</p>
					<div class="copyright">
						® TODOS OS DIREITOS RESERVADOS
					</div>
				</div>

			</footer>
				<div class="stripes"></div>
		</div>

		<script src='js/main.js'></script>
		<div class="search-overlay no-show">
		<div class="container">
			<div  class="search-overlay__close"></div>
			<input type="text" placeholder="Procurar" class="search-overlay__input">
		</div>
		</div>
	</body>
</html>
