footer{
	background-color: #e0e0e0;
	padding: 30px;
	text-align: center;
	font-family: Dosis;
	margin-top: 10em;
	p{
		font-size: 1.3em;
		margin-bottom: 2em;
	}
	.container{
		max-width: 500px
	}
	

}
.share-bar{
			margin-bottom: 3em;
		&__button{
			color:#fff;
			padding: 5px;
			font-size: 1em;
			&:hover{
			color:#fff;
			}
			.fa{
				padding: 15px 20px;
				margin-right: 10px;
				font-size: 25px;
			}
			&.facebook{
				.fa{
						background-color:#4a5372
				}
			}
			&.twitter{
				.fa{
					background-color:#5485ae
				}
			}
			&.instagram{
				.fa{
						background-color:#367f6e
				}
			}
			&.pinterest{
				.fa{
					background-color:#86364b
				}
			}
			&.youtube{
				.fa{
					background-color:#9f5884
				}
			}
		}
	}